body {
    background-image: url("../assets/images/forest-patrol.jpg");
    background-size: cover 100%;
 background-repeat: no-repeat;
 
}
* {
	box-sizing: border-box;
}
.jumbotron {
    max-height: 500px;
    overflow: auto;
    background-color: mistyrose;
}
.btn-outline-dark {
    max-height: 37px;
}
.btn-primary {
    background-color: coral;
    border-color: maroon;
}
.btn-primary:hover {
    background-color: mistyrose;
}
.btn-outline-dark:hover{
    background-color: coral;
}
.fas {
    size: 24px;
}
